:root {
    --pri: teal;
    --sec: lightblue;
    --ter: purple;
    --text: white;
    --nav-color: ;
}

* {
    font-family:'Arial', 'Helvetica', sans-serif;
}

/* sets teal border */
body {
    background-color: black;
    border-left: 10px solid var(--pri);
    border-right: 10px solid var(--pri)
}

header img {
    max-width: 100%;
    min-width: none;
}

/* sets fixed stargazer */
#stargazer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* prevents banner from overlapping border */
.banner {
    overflow: hidden;
}

/* sets h1 overlay on banner */
.overlay {
    top: -30px;
    position: relative;
    max-width: fit-content;
}

h1 {
    background-color: black;
    color: var(--pri);
    padding-left: 20px;
}

/* sets up nav bar */
.nav {
    text-align: right;
}

h2 {
    color: var(--sec);
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

/* sets up splash image and text */
.logo {
    text-align: center;
    border: 6px solid var(--sec);
}

.logo img {
    max-width: 100%;
    min-width: none;
}

.logo h1 {
    padding-bottom: 10px;
}

/* sets up content sections */
h3 {
    font-size: xx-large;
    color: var(--sec);
    padding-left: 20px;
}

p {
    padding-top: 5px;
    color: var(--text);
}

container {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 3 400px;
}

.about {
    display: flex;
    width: 100%;
    display: inline-flex;
    border-top: 6px solid var(--ter);
    border-bottom: 6px solid var(--sec);
    padding: 10px;
}

.about img {
    max-width: 100%;
    min-width: none;
    float: left;
    padding: 20px;
}

.about p {
    line-height: 1.5;
    padding-top: 10px;
}

.apps {
    width: 100%;
    display: inline-flex;
    border-top: 6px solid var(--ter);
    border-bottom: 6px solid var(--sec);
    padding: 10px;
}

.apps img {
    max-width: 100%;
    min-width: none;
    padding-top: 10px;
}

.visual {
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    border-top: 6px solid var(--ter);
    border-bottom: 6px solid var(--sec);
    padding: 10px;
}

h4 {
    line-height: 1.5;
    display: block;
    color: var(--text);
    padding-top: 10px;
}

.visual img {
    max-width: 100%;
    min-width: none;
    padding-top: 10px;
}


.visual p {
    width: 60%;
}

.sound {
    display: flex;
    flex-wrap: wrap;
    border-top: 6px solid var(--ter);
    border-bottom: 6px solid var(--sec);
    padding: 10px;
}

.sound img {
    padding-top: 10px;
}

.sound p {
    width: 60%;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    border-top: 6px solid var(--ter);
    border-bottom: 6px solid var(--sec);
    padding: 10px;
}

/* why doesn't this center the image?
.contact div {
    justify-content: center;
} */

.contact img {
    max-width: 100%;
    padding-top: 10px;
}

.contact p {
    width: 60%;
}
